:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-gray: #a5a5a5;
  --color-light-gray: #f7f7f7;
  --color-white: #ffffff;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --transition: 0.4s;
}

body {
  font-size: 10px;
  font-family: var(--font-primary);
}

h1 {
  font-size: 3rem;
}

header {
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  width: 100%;
  top: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1352px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container:first-child {
  justify-content: space-between;
}

/* .container:last-child {
  justify-content: space-between;
} */

.paragraph {
  font-family: var(--font-secondary);
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 500;
}

.header__nav {
  width: 50%;
  height: 72px;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 2.5rem;
  cursor: pointer;
}

.nav__element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  padding: 28px 10px 24px;
  border-bottom: 4px transparent solid;
  transition: var(--transition);
  color: var(--color-gray);
  font-family: var(--font-secondary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.nav__link:hover {
  border-bottom: 4px var(--color-primary) solid;
  color: var(--color-black);
}

/* ====== OPENER ======= */

.opener {
  width: 100%;
  height: calc(100vh - 72px);
  margin-top: 72px;
  flex-direction: column;
  background-color: var(--color-white);
}

.opener__text {
  width: 100%;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opener__text h1 {
  color: var(--color-black);
  font-size: 4.9rem;
  font-weight: 500;
  padding-top: 130px;
}
.opener__text p {
  padding: 20px 0 38px;
  margin-bottom: auto;
}
.btn__large {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 22px 157px;
  border-radius: 40px;
  background-color: var(--color-primary);
}

.opener__image {
  height: auto;
  width: 100%;
}

/* ======== STATISTIC CONTAINER ======== */

.statistic {
  flex-direction: column;
  background-color: var(--color-white);
  text-align: center;
  max-width: 800px;
}

.statistic > h2 {
  font-size: 3.6rem;
  font-weight: 500;
  padding: 100px 0;
}

.statistic__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.single__stat {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-bottom: 121px;
}

.stat__circle {
  width: 63px;
  height: 63px;
  border-radius: 50px;
  position: relative;
}

.single__stat:nth-child(1) .stat__circle {
  background-color: var(--color-redish);
}
.single__stat:nth-child(2) .stat__circle {
  background-color: var(--color-primary);
}
.single__stat:nth-child(3) .stat__circle {
  background-color: var(--color-green);
}

.stat__image {
  position: absolute;
}

.single__stat:nth-child(1) .stat__image {
  top: 0;
  left: 45%;
}
.single__stat:nth-child(2) .stat__image {
  top: 25%;
  left: 30%;
}
.single__stat:nth-child(3) .stat__image {
  top: 6px;
  left: 50%;
}

.stat__number {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.6rem;
  margin-top: 12px;
}

.stat__paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 19px;
}
