.contact {
    padding: 80px 100px 100px;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
  }
  
  .contact__column {
    width: 50%;
  }
  
  .contact__column h2 {
    font-size: 4.9rem;
    line-height: 5.9rem;
  }
  
  .contact__instruction {
    margin: 22px 0 42px;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  
  .contact__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .details__item {
    color: ($color-gray);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
  }
  
  .details__item img {
    margin-right: 10px;
  }
  
  .details__item:first-of-type {
    margin-right: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
  }
  
  .form__field:first-of-type {
    margin-bottom: 42px;
  }
  
  .form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-primary;
    line-height: 1.44rem;
    letter-spacing: 3px;
    font-size: 1.1rem;
  }
  
  .form__input {
    border: none;
    border-bottom: 1px solid ($color-gray);
    background-color: transparent;
    line-height: 2.625rem;
  }
  
  .form__consent {
    margin-top: 30px;
  }
  
  .form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .form__checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: ($color-white);
    border: 1px solid ($color-gray);
    border-radius: 4px;
  }
  
  .form__checkbox input:checked ~ .checkbox {
    background-image: url(/img/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  
  .form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 1.2rem;
    color: (--color-grey);
    line-height: 17px;
  }
  
  .form {
    font-size: 1.2rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    width: 226px;
    height: 57px;
    background-color: $color-primary;
  }
  
  footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
  }
  
  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .footer__copy {
    font-size: 1.1rem;
    line-height: 2.4rem;
    color: ($color-gray);
    margin-top: 6px;
  }