header {
    background-color: white;
    box-shadow: $primary-shadow;
    position: fixed;
    height: 4.375rem;
    width: 100%;
    top: 0;
    z-index: 2;
    ul {
      visibility: hidden;
    }
      
    .header__logo {
      color: $color-primary;
      font-weight: 300;
      font-size: 2rem;
      cursor: pointer;
      height: 100%;
      text-align: center;
      @extend %border-test;
    }

    @media (min-width:$breakpoint-sm){
      ul {
        visibility: visible;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .nav__element {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          // padding: 30px 20px 26px;
          // border-bottom: 4px transparent solid;
          transition: (--transition);
          color: ($color-gray);
          font-family: ($font-secondary);
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.1rem;
        }
      }
      .nav__link:hover {
        border-bottom: 4px $color-primary solid;
        color: ($color-black);
      }
    }
    
}
  