header {
    background-color: white;
    box-shadow: $primary-shadow;
    position: fixed;
    height: 4.375rem;
    width: 100%;
    top: 0;
    z-index: 2;

    ul {
      visibility: hidden;
    }
      
    .header__logo {
      color: $color-primary;
      font-weight: 300;
      font-size: 2rem;
      cursor: pointer;
    }

    @media (min-width:$breakpoint-sm){
      ul {
        visibility: visible;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .nav__element {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          padding: .3rem 0;
          border-bottom: .3rem transparent solid;
          transition: $transition;
          color: ($color-gray);
          font-family: ($font-secondary);
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.1rem;
          text-decoration: none;
            &:hover {
              border-bottom: .3rem $color-primary solid;
              color: ($color-black);
            }
        }
      }
    }
    
}
  