.opener {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;

    .opener__text {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        h1 {
          color: ($color-black);
          font-size: 2.1875rem;
          font-weight: 500;
          padding-top: 130px;
      }
      p {
        font-size: 1rem;
        padding: 20px 0 38px;
        margin-bottom: auto;
      }
    }
  }
  
  .btn__large {
    color: ($color-white);
    font-family: ($font-secondary);
    font-size: 1rem;
    font-weight: 700;
    padding: 22px 157px;
    border-radius: 40px;
    background-color: $color-primary;
  }
  
  .image {
    background-image: url(../img/Background.png);
    width: 100%;
    height: 45%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    @extend %border-test;
    z-index: -1;
  }

  // .opener__image {
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0;
  // }