.opener {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    flex-direction: column;
    background-color: ($color-white);
  }
  
  .opener__text {
    width: 100%;
    text-align: center;
    height: calc(50vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .opener__text h1 {
    color: ($color-black);
    font-size: 4.9rem;
    font-weight: 500;
    padding-top: 130px;
  }
  .opener__text p {
    padding: 20px 0 38px;
    margin-bottom: auto;
  }
  .btn__large {
    color: ($color-white);
    font-family: ($font-secondary);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 22px 157px;
    border-radius: 40px;
    background-color: $color-primary;
  }
  
  .opener__image {
    height: auto;
    width: 100%;
  }