  $color-primary:#08a6e4;
  $primary-shadow: 0px 3px 6px rgba(46, 46, 46, 0.16);
  $color-redish: #fb3b64;
  $color-green: #55dfb4;
  $color-black: #222222;
  $color-gray: #a5a5a5;
  $color-light-gray: #f7f7f7;
  $color-white: #ffffff;
  $font-primary: "Raleway", sans-serif;
  $font-secondary: "Open Sans", sans-serif;
  $transition: 0.4s;

  %border-test {
    border: solid 1px red;
  }